
* { padding: 0; margin: 0; }

.container {
  max-width: 980px;
  margin: 40px auto;
  padding-right: 20px;
}

.space-left {
  padding-left: 20px;
}

.space-right {
    padding-right: 20px;
}

.content {
  background-color: beige;
  padding:10px 20px;
}